.App {
  text-align: center;
}

nav {
  min-height: 10vh;
  background-color: rgb(73, 73, 73);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}
